body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #2b2b2b;
  color: white;
}

a:visited {
  color: #cc99ff;
}

a:link {
  color: #99ccff;
}

a:active {
  color: #ffcccc;
}

button {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d3d7cf), to(#aaaaaa));
  /*background: -webkit-linear-gradient(0% 0%, 0% 100%, from(#d3d7cf), to(#aaaaaa));*/
  /*background: -moz-linear-gradient(center top, #d3d7cf, #aaaaaa);*/

}